@{
    var divID = ViewBag.Did;
}
<div id=@divID></div>
<script type="text/javascript">

   var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";

    var paraLargeL ={
        "campaignId" : ID,
        "cardType" : "LARGE",
        "returnUrl": returnUrl,
        "returnUrl3": returnUrl3,
        "styles" :  @(Html.Raw(ViewBag.Style)) ,
        "clientId" : "100"
    };


        Bubbly.showCard(paraLargeL,data,document.getElementById(Did));

</script>