@{
    string styleMedium = @"{cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
     cardImageStyle : {},
     cardTitleStyle : {'color': '#FBF8F8 !important','text-align':'center;','font-size':'18px;','bottom': '0px;'},
     cardTitleAnchoStyle :{'color':'#ffffff'},
     descriptionStyle : {'color': '#000000 !important'},
     actionStyle : {}
   }";
}
<div class="container">
    <div class="row">
        <div class="divider social-divider" style="background-color:#08893E;"></div>
        <h2 style="color:#08893E;">@ViewBag.Item["title"]  <i class="fa fa-angle-right fa-lg"></i></h2>
        <div class="col s12 m6 l3 section_medium">
            @if (ViewBag.Item["collection"][0]["id"] == "1")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"], style= styleMedium })
            }
        </div>
        <div class="col s12 m6 l3 section_medium">
            @if (ViewBag.Item["collection"][1]["id"] == "2")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], style = styleMedium })
            }
        </div>
        <div class="col s12 m6 l3 section_medium">
            @if (ViewBag.Item["collection"][2]["id"] == "3")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], style = styleMedium })
            }
        </div>
        <div class="col s12 m6 l3 section_medium">
            @if (ViewBag.Item["collection"][3]["id"] == "4")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], style = styleMedium })
            }
        </div>
    </div>
</div>

