<div class="container">
    <div class="row">
        <div class="divider social-divider" style="background-color:#08893E;"></div>
        <h5 style="color:#08893E;">@ViewBag.Item["title"]  <i class="fa fa-angle-right fa-lg"></i></h5>
        <div class="col s12 m6 l3">
            @if (ViewBag.Item["collection"][0]["id"] == "1")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"], did = "mediumM1" })
            }
        </div>
        <div class="col s12 m6 l3">
            @if (ViewBag.Item["collection"][1]["id"] == "2")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], did = "mediumM2" })
            }
        </div>
        <div class="col s12 m6 l3">
            @if (ViewBag.Item["collection"][2]["id"] == "3")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], did = "mediumM3" })
            }
        </div>
        <div class="col s12 m6 l3">
            @if (ViewBag.Item["collection"][3]["id"] == "4")
            {
                @Html.Action("Medium", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], did = "mediumM4" })
            }
        </div>
    </div>
</div>

