<div style="background-color:#262629; width:100%;">
    <div class="container">
        <div class="row ">
            <div class="col s12 m12 l7 ">
                <div class="row ">
                    <div class="col s12" style="height:501px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][0]["id"] == "1")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"], did = "pcardm" })
                        }
                    </div>
                    <div class="col m7 s12 " style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][2]["id"] == "3")
                        {
                            @Html.Action("VCard", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], did = "vcardm" })
                        }
                    </div>
                    <div class="col m5 s12 " style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][3]["id"] == "4")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], did = "pcardm1" })
                        }
                    </div>

                </div>
            </div>

            <div class="col s12 m12 l5">
                <div class="row ">
                    <div class="col m6 s12" style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][1]["id"] == "2")
                        {
                            @Html.Action("CardPanel", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], did = "cardpanelm1" })
                        }
                    </div>
                    <div class="col m6 s12" style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][4]["id"] == "5")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][4]["cardType"], cNo = ViewBag.Item["collection"][4]["campaignId"], did = "pcardm2" })
                        }
                    </div>

                    <div class="col s12" style="height:502px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][5]["id"] == "6")
                        {
                            @Html.Action("VCard", "PartialView", new { cardType = ViewBag.Item["collection"][5]["cardType"], cNo = ViewBag.Item["collection"][5]["campaignId"], did = "vcardm1" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

       