@{
    string styleSmall = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '247px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '247px !important;',
		'border-radius': '5px !important;'
	}
}";


    string styleLarge = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '503px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '503px !important;',
		'border-radius': '5px !important;'
	}
}";

    string styleMedium = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '346px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '346px !important;',
		'border-radius': '5px !important;'
	}
}";
}

<div style="background-color:#262629; width:100%;">
    <div class="container">
        <div class="row ">
            <div class="col s12 m12 l7 ">
                <div class="row ">
                    <div class="col s12" style="height:501px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][0]["id"] == "1")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"], did = ViewBag.Item["collection"][0]["campaignId"] + "-PCard-" + System.Guid.NewGuid().ToString() , style= styleLarge })
                        }
                    </div>
                    <div class="col m7 s12 " style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][2]["id"] == "3")
                        {
                            @Html.Action("VCard", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], did = "vcardm" })
                        }
                    </div>
                    <div class="col m5 s12 " style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][3]["id"] == "4")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], did = ViewBag.Item["collection"][3]["campaignId"] + "-PCard-" + System.Guid.NewGuid().ToString(), style = styleSmall })
                        }
                    </div>

                </div>
            </div>

            <div class="col s12 m12 l5">
                <div class="row ">
                    <div class="col m6 s12" style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][1]["id"] == "2")
                        {
                            @Html.Action("CardPanel", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], did = ViewBag.Item["collection"][1]["campaignId"]+ "-CardPanel-" + System.Guid.NewGuid().ToString() })
                        }
                    </div>
                    <div class="col m6 s12" style="height:247px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][4]["id"] == "5")
                        {
                            @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][4]["cardType"], cNo = ViewBag.Item["collection"][4]["campaignId"], did = ViewBag.Item["collection"][4]["campaignId"] + "-PCard-" + System.Guid.NewGuid().ToString(), style = styleSmall })
                        }
                    </div>

                    <div class="col s12" style="height:502px;margin-bottom:5px;margin-top:25px;">
                        @if (ViewBag.Item["collection"][5]["id"] == "6")
                        {
                            @Html.Action("VCard", "PartialView", new { cardType = ViewBag.Item["collection"][5]["cardType"], cNo = ViewBag.Item["collection"][5]["campaignId"], did = "vcardm1" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

       