@using System.Configuration
@{
    var url = "";
    var returnUrl = ConfigurationManager.AppSettings.Get("returnUrl");
    var returnUrl2 = ConfigurationManager.AppSettings.Get("returnUrl2");
    var returnUrl3 = ConfigurationManager.AppSettings.Get("returnUrl3");
    string styleMedium = @"{panelStyle:{'padding':'0px;','height':'346px;','cursor': 'pointer;'},
	    titleStyle:{
		'position' : 'relative; ', 'height': '34px; ', 'left' : '0px; ', 'padding' : '5px; ', 'display' : 'inline-block; ', 'max - width' : '65%; ', 'text-overflow' : 'ellipsis; ', 'white-space' : 'nowrap; ', 'overflow' : 'hidden; ', 'background-color': 'rgba(75, 188, 150, 0.85);', 'font-size': '16px;','color':'#fff;',
        'bottom':'90px;',},
        subTitleStyle:{'background-color': 'rgba(255, 255, 255, 0.65);', 'font-size': '14px;','color':'#000;','text-overflow' : 'ellipsis;', 'white-space' : 'nowrap;',  'overflow' : 'hidden;','bottom' : '90px', 'position':'relative;', 'padding':'5px;'},
    	pictureStyle:{'height':'346px !important'}}";


    var ParaImageGallery = @"{cardStyle:{'padding':'0px;','height':'475px;'},
						sliderStyle:{'padding':'0px;','height':'475px !important;'},
						slidesStyle:{'padding':'0px;','height':'475px !important;'},
	   					cardTitleStyle:{'z-index':'10 !important'},
        				cardSubTitleStyle:{'z-index':'10 !important'},
    					}";

    var ParaStorySmall = @"{cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
			 mainBoxStyle : {'background-color': '#ffffff;','height':'100px;','font-family':'Segoe UI;','margin-bottom':'5px;','background': '#fff;','margin':'0;','padding':'5px;'},
			 smallBoxStyle :{'background-color': '#ffffff;'} ,
			 cardTitleAnchoStyle :{'color':'#FFAB40'},
			 descriptionStyle : { 'color':'#E5033F', 'font-size': '14px;',  'line-height': '1.184;','position': 'relative;',  'font-weight': 'bolder;','margin-bottom':'5px;','margin-bottom':'5px;','overflow':'hidden;','height':'70px;', 'margin': '0px;', 'padding': '5px;'}";
}

<div class="container hide-on-small-and-down">
    <div class="divider social-divider" style="background-color:#AB1142;"></div>
    <h2 style="color:#AB1142;">@ViewBag.Item["title"] <i class="fa fa-angle-right fa-lg"></i></h2>
    <div class="row">
        <div class="col s12 m12 l6">
            @if (ViewBag.Item["collection"][0]["id"] == "1")
            {
                @Html.Action("ImgGallary", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"],  style = ParaImageGallery })
            }
        </div>
        <div class="col s12 m6 l3">
            <div class="row">
                <div class="col s12">
                    @if (ViewBag.Item["collection"][1]["id"] == "2")
                    {
                        if (ViewBag.Item["collection"][1]["StoryId"] == "")
                        {
                        @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], style = styleMedium })
                        }
                        else
                        {
                            @Html.Action("StoryCard", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], style = styleMedium, StoryId = ViewBag.Item["collection"][1]["StoryId"], Isslider = ViewBag.Item["collection"][0]["Isslider"] })
                        }
                    }
                </div>
                <div class="col s12">
                    @if (ViewBag.Item["collection"][2]["id"] == "3")
                    {
                        if (ViewBag.Item["collection"][2]["StoryId"] == "")
                        {
                        @Html.Action("Small", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], style = "{}" })
                        }
                        else
                        {
                        @Html.Action("StoryCard", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"], style = ParaStorySmall, StoryId = ViewBag.Item["collection"][2]["StoryId"], Isslider = ViewBag.Item["collection"][0]["Isslider"] })
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="row">
                <div class="col s12">
                    @if (ViewBag.Item["collection"][3]["id"] == "4")
                    {
                        if (ViewBag.Item["collection"][3]["StoryId"] == "")
                        {
                            @Html.Action("Small", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], style = "{}" })
                        }
                        else
                        {
                            @Html.Action("StoryCard", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"], style = ParaStorySmall, StoryId = ViewBag.Item["collection"][3]["StoryId"], Isslider = ViewBag.Item["collection"][0]["Isslider"] })
                        }
                    }
                </div>
                <div class="col s12">
                    @if (ViewBag.Item["collection"][4]["id"] == "5")
                    {
                        if (ViewBag.Item["collection"][4]["StoryId"] == "")
                        {
                        @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][4]["cardType"], cNo = ViewBag.Item["collection"][4]["campaignId"], style = styleMedium })
                        }
                        else
                        {
                        @Html.Action("StoryCard", "PartialView", new { cardType = ViewBag.Item["collection"][4]["cardType"], cNo = ViewBag.Item["collection"][4]["campaignId"], style = styleMedium, StoryId = ViewBag.Item["collection"][4]["StoryId"], Isslider = ViewBag.Item["collection"][0]["Isslider"] })
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container hide-on-med-and-up" style="background-color:white; width:100%;">
    <div class="divider social-divider" style="background-color:#AB1142;"></div>
    <h5 style="color:#AB1142;">@ViewBag.Item["title"] <i class="fa fa-angle-right fa-lg"></i></h5>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                    @foreach (var subitem in ViewBag.Item["collection"])
                    {
                        if (subitem["StoryId"] == "")
                        {
                            url = returnUrl + "?id=" + subitem["campaignId"];
                        }
                        else
                        {
                            url = returnUrl2 + "?id=" + subitem["campaignId"] + "&storyid=" + subitem["StoryId"];
                        }
                        <li>
                            <a href=@url>
                                <div style="opacity:1;float:left;height:300px !important;;overflow:hidden;width:100%;display:block;background-image:url(@subitem["Pictureurl"]);background-size:cover;background-position:25% 0%;background-repeat:no-repeat;"></div>
                                </a>
                            <a href=@url>
                                <p style="color:black">
                                    @subitem["Description"]
                                </p></a>
</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>











