@{
    string styleMedium = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '346px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '346px !important;',
		'border-radius': '5px !important;'
	}
}";
}

<div class="container">
    <div class="divider social-divider" style="background-color:#AB1142;"></div>
    <h5 style="color:#AB1142;">@ViewBag.Item["title"] <i class="fa fa-angle-right fa-lg"></i></h5>
    <div class="row">
        <div class="col s12 m12 l6">
            @if (ViewBag.Item["collection"][0]["id"] == "1")
            {
                @Html.Action("ImgGallary", "PartialView", new { cardType = ViewBag.Item["collection"][0]["cardType"], cNo = ViewBag.Item["collection"][0]["campaignId"],  style = "{}" })
            }
        </div>
        <div class="col s12 m6 l3">
            <div class="row">
                <div class="col s12">
                    @if (ViewBag.Item["collection"][1]["id"] == "2")
                    {
                        @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][1]["cardType"], cNo = ViewBag.Item["collection"][1]["campaignId"], style = styleMedium })
                    }
                </div>
                <div class="col s12">
                    @if (ViewBag.Item["collection"][2]["id"] == "3")
                    {
                        @Html.Action("Small", "PartialView", new { cardType = ViewBag.Item["collection"][2]["cardType"], cNo = ViewBag.Item["collection"][2]["campaignId"],  style = "{}" })
                    }
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="row">
                <div class="col s12">
                    @if (ViewBag.Item["collection"][3]["id"] == "4")
                    {
                        @Html.Action("Small", "PartialView", new { cardType = ViewBag.Item["collection"][3]["cardType"], cNo = ViewBag.Item["collection"][3]["campaignId"],  style = "{}" })
                    }
                </div>
                <div class="col s12">
                    @if (ViewBag.Item["collection"][4]["id"] == "5")
                    {
                        @Html.Action("PCard", "PartialView", new { cardType = ViewBag.Item["collection"][4]["cardType"], cNo = ViewBag.Item["collection"][4]["campaignId"], style = styleMedium })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

