@using System.Configuration;
@{
    var divID = ViewBag.Did;
    var returnUrl = ConfigurationManager.AppSettings.Get("returnUrl");
    var returnUrl2 = ConfigurationManager.AppSettings.Get("returnUrl2");
    var returnUrl3 = ConfigurationManager.AppSettings.Get("returnUrl3");
}
<div id=@divID></div>

<script type="text/javascript">

    var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(returnUrl))"
    var returnUrl2="@(Html.Raw(returnUrl2))"
    var returnUrl3="@(Html.Raw(returnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";


    var paraPCardM ={
        "campaignId" : ID,
        "cardType" : "PCARD",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : @(Html.Raw(ViewBag.Style)) ,
        "clientId" : "100"
    };

    Bubbly.showCard(paraPCardM,data,document.getElementById(Did));

</script>