@{
    var divID = ViewBag.Did;
}
<div id=@divID></div>

<script type="text/javascript">

    var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";

    var paraSmallVertical ={
        "campaignId" : ID,
        "cardType" : "SMALLVERTICAL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : @(Html.Raw(ViewBag.Style)) ,
        "clientId" : "100"
    };
    Bubbly.showCard(paraSmallVertical,null,document.getElementById(Did));
    //var paraSmallVertical2 ={
    //    "campaignId" : ID,
    //    "cardType" : "SMALLVERTICAL",
    //    "returnUrl": returnUrl+"?id=" + ID,
    //    "styles" : {cardStyle : {'background-color': '#624f87;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);' ,'height': '260px !important;'},
    //        cardImageStyle : {'height':'200px;'},
    //        cardTitleStyle : {'color': '#FBF8F8 !important','text-align':'center;','font-size':'18px;','bottom':'0px','padding':'5px;', 'background-color': '#909542;'},
    //        cardTitleAnchoStyle :{'color':'#ffffff'},
    //        descriptionStyle : {'color': '#ffffff !important'},
    //        actionStyle : {}
    //    } ,
    //    "clientId" : "100"
    //};

    //var paraSmallVertical3 ={
    //    "campaignId" : ID,
    //    "cardType" : "SMALLVERTICAL",
    //    "returnUrl": returnUrl+"?id=" + ID,
    //    "styles" : {cardStyle : {'background-color': '#624f87;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);' ,'height': '260px !important;'},
    //        cardImageStyle : {'height':'200px;'},
    //        cardTitleStyle : {'color': '#FBF8F8 !important','text-align':'center;','font-size':'18px;','bottom':'0px','padding':'5px;', 'background-color': '#909542;'},
    //        cardTitleAnchoStyle :{'color':'#ffffff'},
    //        descriptionStyle : {'color': '#ffffff !important'},
    //        actionStyle : {}
    //    } ,
    //    "clientId" : "100"
    //};

    //var paraSmallVertical4 ={
    //    "campaignId" : ID,
    //    "cardType" : "SMALLVERTICAL",
    //    "returnUrl": returnUrl+"?id=" + ID,
    //    "styles" : {cardStyle : {'background-color': '#624f87;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);' ,'height': '260px !important;'},
    //        cardImageStyle : {'height':'200px;'},
    //        cardTitleStyle : {'color': '#FBF8F8 !important','text-align':'center;','font-size':'18px;','bottom':'0px','padding':'5px;', 'background-color': '#909542;'},
    //        cardTitleAnchoStyle :{'color':'#ffffff'},
    //        descriptionStyle : {'color': '#ffffff !important'},
    //        actionStyle : {}
    //    } ,
    //    "clientId" : "100"
    //};

    //if(Did=="smallvertical1"){
    //    Bubbly.showCard(paraSmallVertical1,null,document.getElementById('smallvertical1'));
    //}
    //else if(Did=="smallvertical2"){
    //    Bubbly.showCard(paraSmallVertical2,null,document.getElementById('smallvertical2'));
    //}
    //else if(Did=="smallvertical3"){
    //    Bubbly.showCard(paraSmallVertical3,null,document.getElementById('smallvertical3'));
    //}
    //else if(Did=="smallvertical4"){
    //    Bubbly.showCard(paraSmallVertical4,null,document.getElementById('smallvertical4'));
    //}

</script>