@using System.Configuration;
@{
    var divID = ViewBag.Did;
    var returnUrl = ConfigurationManager.AppSettings.Get("returnUrl");
    var returnUrl2 = ConfigurationManager.AppSettings.Get("returnUrl2");
    var returnUrl3 = ConfigurationManager.AppSettings.Get("returnUrl3");
}
<div id=@divID></div>
<script type="text/javascript">

    var Bubbly = new BubblyCard();
    var url="";
    var ReturnUrl="@(Html.Raw(returnUrl))"
    var ReturnUrl2="@(Html.Raw(returnUrl2))"
    var ReturnUrl3="@(Html.Raw(returnUrl3))"
    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var Did = "@(Html.Raw(ViewBag.Did))";
    var storyID = "@(Html.Raw(ViewBag.storyID))";
    var Isslider="@(Html.Raw(ViewBag.Isslider))";
   
    //if(Isslider=="true" || Isslider=="True")
    //    url=ReturnUrl;
    //else
        url=ReturnUrl2;

    var paraStoryNew ={
        "campaignId" : ID,
        "cardType" : "STORYPCARD",
        "returnUrl" : url,
        "styles" :  @(Html.Raw(ViewBag.Style)),
        "storyLB" : Isslider,
        "title" : "",
        "description" : "",
        "clientId" : "100" ,
        "title" : "",
        "description" : "",
        "storyId" : storyID
    };
    Bubbly.showStoryCards(paraStoryNew, data, document.getElementById(Did));
</script>
