@{
    var divID = ViewBag.Did;
}
<div id=@divID></div>
<script type="text/javascript">

    var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl2="@(Html.Raw(ViewBag.ReturnUrl2))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";
    var storyID = "@(Html.Raw(ViewBag.storyID))";

    var paraVCardMStory ={
        "campaignId" : ID,
        "cardType" : "STORYVCARDAUTO",
        "returnUrl" : returnUrl2,
        "styles" :@(Html.Raw(ViewBag.Style)),
        "clientId" : "100",
        "title" : "",
        "description" : "",
        "storyId" : storyID
    };
    Bubbly.showStoryCards(paraVCardMStory,data,document.getElementById(Did));

</script>
