<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

  
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta name="title" content="@ViewBag.Title" />
    <meta name="description" content="@ViewBag.Description" />

    <meta name="ROBOTS" content="Index,Follow">
    <meta name="author" content="Social24x7">
    <meta name="copyright" content=" Social24x7 ">
    <meta http-equiv="content-language" content="en">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="expires" content="Never">
    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
    <link href="~/Content/materialize.min.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
   
    @*<link href="~/Content/bubbly.css" rel="stylesheet" />*@
    @*<link href="~/Content/custom.css" rel="stylesheet" />*@
    <link href="http://social24x7.azurewebsites.net/cdn/css/bubbly.css" rel="stylesheet" />
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://social24x7.azurewebsites.net/cdn/js/materialize/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">


</head>
<body>
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_IN/sdk.js#xfbml=1&appId=224596094404149&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

    <div class="row social-main-nav">
        <nav class="social-nav">
            <div class="container nav-wrapper" style="">
                <a href="@Url.Action("Index", "Home")" class="brand-logo"><img style="height:60px" src="~/Images/logo.png"/></a>
                <p style="max-width:215px;line-height:2">Your Unlimited Bollywood's Social Media Destination</p>
                <a class="d-toggle-menu-dashborad"><i class="material-icons dp48">view_headline</i></a>


                <form id="demo-2" style="right:187px;top:4px">
                    <input type="search" placeholder="Search">
                </form>
                <!-- <a class="cd-search-trigger search-is-visible" href="#cd-search">Search<span></span></a> -->

                <div class="main" style="margin-left:-35px">
                    @Html.Action("Menu", "PartialView")
                </div>
                <!-- end Main -->
                <ul class="socialmedia-nav">
                    <li><a href="https://www.facebook.com/bharatmovies"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/bharatmovies"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope-square"></i></a></li>
                    <li><a href="https://www.pinterest.com/bharatmovies/"><i class="fa fa-pinterest-square"></a></i></li>
                </ul>
            </div>
        </nav>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/player_api.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.js"></script>
    <script type="text/javascript" src="http://social24x7.azurewebsites.net/cdn/js/materialize/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="http://social24x7.azurewebsites.net/cdn/js/materialize/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="http://social24x7.azurewebsites.net/cdn/js/materialize/js/plugins/jvectormap/vectormap-script.js"></script>
    <script type='text/javascript' src='http://social24x7.azurewebsites.net/cdn/js/imagesloaded.pkgd.js?ver=4.2.2'></script>
    <script type='text/javascript' src="http://social24x7.azurewebsites.net/cdn/js/morris.js"></script>
    <script type='text/javascript' src="http://social24x7.azurewebsites.net/cdn/js/raphael.js"></script>
    <script type='text/javascript' src="http://social24x7.azurewebsites.net/cdn/js/sparklines.js"></script>
    <script type='text/javascript' src="http://social24x7.azurewebsites.net/cdn/js/materialize/js/plugins/chartjs/chart.min.js"></script>

   
    <script src="~/Scripts/bubbly.min.js"></script>
    <script src="~/Scripts/cbpHorizontalMenu.min.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    @*<script src="http://social24x7.azurewebsites.net/cdn/js/bubbly.min.js"></script>*@
    <div class=" body-content">
        @RenderBody()

    </div>
    <footer style="padding:0px !important; background-color:#cf1c2e; color:white;height:60px; line-height:60px; text-align: center;">

        <div class="footer">
            <nav style="position:relative;bottom:0px;z-index:100;background-color:#cf1c2e;">
                <div class="container">
                    <p class="text-left" style="margin:0px !important;float:left;">&copy; Copyright 2015 Bharatmovies  and Powered by Social24x7</p>
                    <a href="@Url.Action("Index", "Home")" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                      <ul class="right hide-on-med-and-down">
                        <li><a href="@Url.Action("Index", "Home")">Home </a></li>
                        <li><a href="@Url.Action("Advertise", "Home")">Advertise </a></li>
                        <li><a href="@Url.Action("Privacy", "Home")">Privacy Policy</a></li>
                        <li><a href="@Url.Action("CopyWrite", "Home")">Report Copyright violation</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                    </ul>
                   
                </div>
            </nav>
        </div>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41959938-2', 'auto');
  ga('send', 'pageview');
  
        </script>

    </footer>
    <script>
        $(document).ready(function (e) {
            $(".button-collapse").sideNav();

        });
    </script>

</body>
</html>