
@using System.Web.Script.Serialization;
@using System.Configuration;
@{
    string returnUrl = ConfigurationManager.AppSettings.Get("returnUrl");
    string returnUrl3 = ConfigurationManager.AppSettings.Get("returnUrl3");
    string returnUrl2 = ConfigurationManager.AppSettings.Get("returnUrl2");
    string styleSmall = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '247px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '247px !important;',
		'border-radius': '5px !important;'
	}
}";

}
@Html.Partial("~/Views/Shared/_js.cshtml")

<style type="text/css">
    .pack-layout {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
    }

        .pack-layout li {
            width: 300px;
            position: absolute;
        }
</style>

<script type="text/javascript">

    var returnUrl ="@(Html.Raw(returnUrl))";
    var returnUrl2 ="@(Html.Raw(returnUrl2))";
    var returnUrl3 ="@(Html.Raw(returnUrl3))";


</script>
<div class="row">
    <div class="col s12 l9 m9">
        <div class="row">
            <div class="col s12">
                <a href="@Url.Action("News", "Home",new { id = ViewBag.ID })">
                    <h4>@(Html.Raw(ViewBag.Title))</h4>
                </a>
                <div class="row">
                    <div class="col s12 m7 l6 offset-l3 offset-m5">
                        <img class="responsive-img" src="~/Images/ad1.jpeg" style="overflow:hidden;height:100px;">
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s12" id="wall" style="box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15) !important;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l3 m3">
        <div class="row">
            <div class="col s12">
                <img src="~/Images/ad-small.jpg" width="100%" style="padding-top:10px">
            </div>
            <div class="col s12" id="si">
            </div>
            <div class="col s12">
                <h4>Related Story</h4>
                @if (ViewBag.Stories != null)
                {
                    foreach (var item in ViewBag.Stories)
                    {

                        @Html.Action("StoryCard", "PartialView", new { cardType = "SMALL", cNo = ViewBag.ID, Storyid = item["key"], style = styleSmall, Isslider = false })


                    }
                }
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        var Bubbly = new BubblyCard();

        var data =@(Html.Raw(ViewBag.Summary));
        var ID ="@(Html.Raw(ViewBag.ID))";
        var q = "@(Html.Raw(ViewBag.q))";
        var type ="@(Html.Raw(ViewBag.type))" ;
        var ReturnUrl="@(Html.Raw(returnUrl))"
        var ReturnUrl3="@(Html.Raw(returnUrl3))"
        var ReturnUrl2="@(Html.Raw(returnUrl2))"
    
        Bubbly.showComments({ "campaignId": ID, "cardType": "COMMENTS", "returnUrl": ReturnUrl3, "styles": {}, "clientId": 100, "commentsType":type, "commentsTitle": "", "commentsQ": q, "commentsSkipBy": "1", "commentsLimit": "20" }, null, document.getElementById("wall"));

        Bubbly.showCard({ "campaignId": ID, "cardType": "SIM", "returnUrl":ReturnUrl3, "styles": {}, "clientId": 100 },data, document.getElementById("si"));
</script>
