@using System.Web.Script.Serialization;
@using System.Web.Script.Serialization;
@using System.Configuration;
@{
    string returnUrl = ConfigurationManager.AppSettings.Get("returnUrl");
    string returnUrl2 = ConfigurationManager.AppSettings.Get("returnUrl2");
    string returnUrl3 = ConfigurationManager.AppSettings.Get("returnUrl3");
   
    JavaScriptSerializer serializer = new JavaScriptSerializer();
    //dynamic templatedata = serializer.Deserialize<object>(ViewBag.Stories);
    string styleSmall = @"{
	panelStyle: {
		'padding': '0px;',
		'height': '247px;',
		'border-radius': '5px !important;'
	},
	titleStyle: {
		'position': 'relative;',
		'height': '35px;',
		'left': '0px;',
		'padding': '5px;',
		'display': 'inline-block;',
		'max-width': '65%;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'background-color': 'rgba(255, 80, 10, 0.85);',
		'font-size': '16px;',
		'color': '#fff;',
		'bottom': '90px;',
	},
	subTitleStyle: {
		'background-color': 'rgba(255, 255, 255, 0.65);',
		'font-size': '14px;',
		'color': '#000;',
		'text-overflow': 'ellipsis;',
		'white-space': 'nowrap;',
		'overflow': 'hidden;',
		'bottom': '90px',
		'position': 'relative;',
		'padding': '5px;'
	},
	pictureStyle: {
		'height': '247px !important;',
		'border-radius': '5px !important;'
	}
}";
}
@Html.Partial("~/Views/Shared/_js.cshtml")
<script type="text/javascript">

    var returnUrl ="@(Html.Raw(returnUrl))";
    var returnUrl2 ="@(Html.Raw(returnUrl2))";
    var returnUrl3 ="@(Html.Raw(returnUrl3))";


</script>

    <div class="row" >
        <div class="col s12 l12 m12" ><h4>@(Html.Raw(ViewBag.Title))</h4></div>
        <div class="col s12 l9 m9" style="padding-right:50px">
            <div class="row">
                <div class="col s12" id="rss">
                </div>
                @*<div class="col s3" id="add">
                </div>*@
            </div>
            <div class="row">
                @*<div class="col s12 l12 m12"><h3>Popular Comments</h3></div>*@
                <div class="col s12" id="story1">
                </div>
                <div class="col s12" id="story">
                </div>
                <div class="col s12" id="wall">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l12 m12"><h4>Picture Gallery</h4></div>
                <div class="col s12" id="pc">
                </div>
            </div>

        </div>
        <div class="col s12 l3 m3">
            <div class="row">
                <div class="col s12" id="si">
                </div>
                <div class="col s12">
                    
                    @if (ViewBag.Stories != null)
                    {
                        <h4>Related Story</h4>
                        foreach (var item in ViewBag.Stories)
                        {

                            @Html.Action("StoryCard", "PartialView", new { cardType = "SMALL", cNo = ViewBag.ID, Storyid = item["key"], style = styleSmall, Isslider = false })


                        }
                    }
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col s12 l12 m12"><h4>Video Gallery</h4></div>
    <div class="col s12" id="vc">
    </div>
</div>

<script type="text/javascript">
            var Bubbly = new BubblyCard();

                    var data =@(Html.Raw(ViewBag.Summary));
            var ID ="@(Html.Raw(ViewBag.ID))";
                    var ReturnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
            var ReturnUrl2="@(Html.Raw(ViewBag.ReturnUrl2))"
            var ReturnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
            var SearchQuery ="@(Html.Raw(ViewBag.SearchQuery))";
                    var StoryId ="@(Html.Raw(ViewBag.StoryId))";


                    var containerRSSImg = document.getElementById('pc') ;
                    var paraImgGallery ={
                "campaignId" : ID,
                "cardType" : "IMGGALLERY",
                "returnUrl" : returnUrl+"?id="+ID,
                "styles": {
                    cardStyle: { 'padding': '0px;', 'height': '475px;' },
                    sliderStyle: { 'padding': '0px;', 'height': '475px !important;' },
                    slidesStyle: { 'padding': '0px;', 'height': '475px !important;' },
                    cardTitleStyle: { 'z-index': '10 !important', 'bottom': '80px !important;' },
                    cardSubTitleStyle: { 'z-index': '9999 !important', 'bottom': '70px !important;' },
                },
                "clientId" : "100"
            };


	

   


           // 
            Bubbly.showRSSCard({ "campaignId": ID, "cardType": "RSSDESC", "returnUrl": ReturnUrl, "styles": {}, "clientId": 100, "rssCriteria": SearchQuery}, null, document.getElementById("rss"));
            Bubbly.showCard({ "campaignId": ID, "cardType": "VC", "returnUrl": returnUrl3, "styles": {}, "clientId": 100 }, data, document.getElementById("vc"));
            //Bubbly.showCard({ "campaignId":ID, "cardType": "IMGGALLERY", "returnUrl": returnUrl3, "styles": {}, "clientId": 100 }, data, document.getElementById("pc"));
            Bubbly.showCard(paraImgGallery,null,containerRSSImg);
            Bubbly.showCard({ "campaignId": ID, "cardType": "SIM", "returnUrl": returnUrl3, "styles": {}, "clientId": 100 },data, document.getElementById("si"));
            if (StoryId!="")
            {
                var paraStory ={
                    "campaignId" : ID,
                    "cardType" : "STORY",
                    "returnUrl" : "",
                    "styles" : { },
                    "title" : "",
                    "description" : "",
                    "clientId" : "100" ,
                    "storyId" : StoryId
                };
               

                Bubbly.showStoryCards(paraStory,null,document.getElementById("story"));
               
            }
            else
            {
                Bubbly.showComments({ "campaignId": ID, "cardType": "COMMENTS", "returnUrl": returnUrl3, "styles": {}, "clientId": 100, "commentsType": "popular", "commentsTitle": "", "commentsQ": "", "commentsSkipBy": "1", "commentsLimit": "20" }, null, document.getElementById("wall"));


            }
           // Bubbly.showStoryCards(paraStory,null,document.getElementById("story1"));
</script>
